html, body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}

/* Header section */

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    position: fixed;
    border-bottom: 1px solid seashell;
    height:69px;
    width: 100%;
    justify-content: space-between;
    background-color: black;
}

#logo{
    height: 50px;
    margin-left: 10px;
    margin-top: 9.5px;
    }

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    margin-right: 15px;
}

header div p {
    text-decoration: underline;
    }