html, body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}

/* Header section */

header{
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
    width: 100%;
    margin: 0;
    height:69px;
    background-color: black;
}

#logo{
    position: fixed;
    display: inline-block;
    width: auto;
    height: 50px;
    left: 10px;
    top: 9.5px;
    bottom: 9.5px;
    }

    header div{
        display: block;
        width: auto;
        text-align: right;
        margin-right: 10px;
    }

    header div p {
        display: inline-block;
        text-decoration: underline;
    }

    @media screen and (max-width: 500px) {
        #logo{
            position: relative;
            left: 0px;
        }
        header div {
            background-color: black;
            text-align: center;
        }
        header div p {
            display: inline-block;
            position: relative;
            text-align: center;
            
        }
    }

    /* mission section */

    #mission{
        margin: 69px auto 0px;
        height: 700px;
        width: 95%;
        background-image: url(./resources/img-mission-background.webp);
        background-size: cover;
    }

    #mission div{
        position: relative;
        top: 300px;
        background-color: black;
    }

    /*teas section*/

    #teas{

    }

    .container{
        
    }

    